body{
  background-image:url("images/background1.jpg");
  background-margin:100;
}
.navbar-brand{
  font-family: 'Mansalva', cursive;
  color:white;
}
.navbar-brand:hover{
  color:grey;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}
.para{
  font-family: 'Titillium Web', sans-serif;
}